.modal {
  &.is-mobile {
    --bulma-modal-card-head-padding: 1rem;
    --bulma-modal-card-title-size: var(--bulma-size-6);

    .modal-card {
      position: fixed;
    }

    .modal-card-title {
      text-align: center;
    }
  }

  &.is-mobile-bottom {
    .modal-card {
      bottom: 0;
    }

    .modal-card-foot {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      padding-bottom: max(env(safe-area-inset-bottom), var(--bulma-modal-card-head-padding));
    }
  }

  &.is-mobile-top {
    --bulma-modal-card-body-padding: 1rem;

    .modal-card {
      top: 0;
    }

    .modal-card-title {
      line-height: 22.5px;
    }

    .modal-card-head {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }

    .modal-card-body {
      flex-grow: 0;
    }
  }
}