@charset "utf-8";

@import 'dot';
@import 'drawable';
@import 'grid';

.is-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.is-bordered {
  border: 1px solid darkgrey;
}

.is-border-bottom {
  border-bottom: 0.5px solid #ececec;
}

.is-radius {
  border-radius: 6px;
}
