[submodule "test/dummy"]
  path = test/dummy
  url = git@github.com:work-design/dummy.git
[submodule "docker"]
  path = docker
  url = git@github.com:work-design/docker.git
[submodule "pico"]
  path = pico
  url = git@github.com:picocss/pico.git
