main.columns {
  margin: 0;
}

main.columns:not(:last-child) {
  margin-bottom: 0;
}

main.columns.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.columns.is-flex-direction-column.is-variable > .column {
  padding-top: var(--columnGap);
  padding-bottom: var(--columnGap);
}

.columns {
  &.as-border > .column {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
