.button_tos {
  .button_to:not(:first-child) {
    padding-left: 1em;
  }
}

form.button_to {
  display: inline;
  button:not(.button, .weui-btn),
  input[type="submit"]:not(.button, .weui-btn) {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    line-height: inherit;
    font-size: initial; // 修复 safari fa 图标显示问题
  }
  i:not(.fa-solid, .fa-light):before {
    color: rgba(0, 0, 0, 0.8)
  }
  button:not(.button, .weui-btn):focus,
  input[type=submit]:focus {
    outline: none;
  }
  button[type=submit] {
    color: currentcolor; // ios safari 默认 为 白色
  }
}

form.button_column {
  button:not(.button, .weui-btn) {
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

form.button_box {
  display: inline-block;
  width: 100%;
  height: 30px;
  button:not(.button, .weui-btn) {
    text-align: left;
    border: solid 1px transparent;
    box-shadow: inset 1px 1px 2px dimgrey;
    width: 100%;
    height: 100%;
  }
}
