.weui-form_normal {
  min-height: auto;
}

.weui-btn.button_to {
  padding: 0;
  button:not(.button),
  input[type="submit"] {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 8px 24px;
    height: 100%;
  }
  i:not(.fa-light):before {
    color: rgba(0, 0, 0, 0.8)
  }
  button:not(.button):focus,
  input[type="submit"]:focus {
    outline: none;
  }
}

form.button_to > button.weui-cell {
  width: 100%;
  padding: 1em;
  text-align: left;
}
