.weui-half-screen-dialog {
  background-color: var(--weui-BG-3);
  transform: translateY(100%);
  transition: transform 0.3s;
}

.weui-half-screen-dialog__bd .weui-form {
  background-color: unset;
  padding-top: 0;
}

// translateZ 修复 safari 下 z-index 的bug
.weui-half-screen-dialog_show {
  transform: translate3d(0, 0, 1px);
}

.weui-mask {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.weui-dialog__wrap {
  visibility: hidden;

  &.weui-dialog__wrap_show {
    visibility: visible;
  }
}
