.weui-half-screen-dialog {
  background-color: var(--weui-BG-3);
  transform: translateY(100%);
  transition: transform 0.3s;
}

.weui-half-screen-dialog__bd .weui-form {
  background-color: unset;
  padding-top: 0;
}

.weui-half-screen-dialog_show {
  transform: translateY(0);
}

.weui-mask {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.weui-dialog__wrap {
  opacity: 0;
  display: none;
  transition-property: opacity;
  transition-duration: 2s;

  &.weui-dialog__wrap_show {
    opacity: 1;
    display: block;
  }
}
