.weui-media-box {
  &.is-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
  }

  &.is-box::before {
    display: none;
  }
}

.weui-media-box__hd {
  &.as-logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
    background-color: #fcfcfc;
  }
}

.weui-media-box__bd {
  padding-right: 16px;

  &.as-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.weui-media-box__ft {
  display: flex;
  align-items: center;
  max-width: max-content;
  align-self: stretch;
  margin-top: -16px;
  margin-bottom: -16px;

  .ft-btn {
    border-radius: 0;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.x {
    width: 0;
    display: none;
    transition: width 1s linear;
  }
}

ul.weui-media-box__info {
  display: flex;
  align-items: center;

  li {
    padding-right: 0.5em;
  }
  li + li {
    padding-left: 0.5em;
    border-left: 1px solid var(--weui-FG-2);
  }
}

