.weui-media-box__hd {
  &.as-logo {
    height: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 1px 1px;
    color: #fafafa;
    background-color: #fafafa;
    margin-right: 0;
  }
}

.weui-media-box_appmsg img.weui-media-box__thumb,
.weui-media-box__thumb {
  max-height: 60px;
}

.weui-media-box {
  padding-right: 0;
}

.weui-media-box__bd {
  padding-right: 16px;

  &.as-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: #f5fafa;
    padding-left: 16px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.weui-media-box__ft {
  display: flex;
  align-items: center;
  max-width: max-content;
  align-self: stretch;
  margin-top: -16px;
  margin-bottom: -16px;

  .ft-btn {
    border-radius: 0;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.weui-media-box__ft.x {
  width: 0;
  display: none;
  transition: width 1s linear;
}

ul.weui-media-box__info {
  display: flex;
  align-items: center;

  li {
    padding-right: 0.5em;
  }
  li + li {
    padding-left: 0.5em;
    border-left: 1px solid var(--weui-FG-2);
  }
}

