.weui-panel {
  &.is-borderless-top {
    &::before {
      border-top: none;
    }
  }

  &.is-borderless {
    &::before {
      border-top: none;
    }
    &::after {
      border-bottom: none;
    }
    .weui-panel__hd::after {
      border-bottom: none;
    }
  }

  &.is-box {
    border-radius: 6px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

.weui-panel__extra {
  color: grey;
  font-weight: lighter;
}

.weui-panel__bd,
.weui-panel__ft {
  .weui-cells:first-child {
    margin-top: 0;
  }
  .weui-cells:first-child::before {
    display: none;
  }
}

.weui-panel__hd {
  color: var(--weui-FG-1);


}

a.weui-panel__hd:active {
  background-color: hsl(0, 0%, 98%);
}
