.weui-panel__extra {
  color: grey;
  font-weight: lighter;
}

.weui-panel__bd,
.weui-panel__ft {
  .weui-cells:first-child {
    margin-top: 0;
  }
  .weui-cells:first-child::before {
    display: none;
  }
}

.weui-panel__hd {
  &.as-bar {
    display: flex;
  }
  .weui-title {
    flex-grow: 1;
    text-align: center;
  }
}

.weui-panel.is-borderless-top {
  &::before {
    border-top: none;
  }
}

.weui-panel.is-borderless {
  &::before {
    border-top: none;
  }
  .weui-panel__hd::after {
    border-bottom: none;
  }
}
