.weui-tabbar_fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.weui-tabbar_float {
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: available;
  border-radius: 100px;
}

.weui-tabbar__content {
  font-size: medium;
  height: 100%;
  display: flex;
  align-items: center;
}

.weui-tabbar__item > .weui-btn {
  margin-right: 8px;
  margin-left: 8px;
}

.weui-bar__item_on {
  i {
    font-weight: 900;
  }
}

.weui-tabbar {
  touch-action: none;
  padding-bottom: env(safe-area-inset-bottom);

  &.weui-tabbar__primary {
    background-color: #48c78e;

    .weui-tabbar__item {
      color: #fff;

      .weui-tabbar__icon {
        color: #fff;
      }
    }

    .weui-bar__item_on {
      color: #730E15;

      .weui-tabbar__label {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }
  }
}
