.weui-tab > :last-child {
  padding-bottom: env(safe-area-inset-bottom);
}

.weui-tab__panel > :first-child {
  margin-top: 0;
}

.weui-tab__panel {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--weui-BG-0);
  // tabbar 与 dialog 搭配使用时会有bug
  -webkit-overflow-scrolling: auto;
  display: flex;
  flex-direction: column;
}

.weui-tab__panel > * {
  flex-shrink: 0;
}

.weui-tab > .weui-tab__panel {
  padding-bottom: 1rem;
}
