@keyframes toastFadeOut {
  from { visibility: visible; }
  to { visibility: hidden; }
}

.weui-toast__wrap {
  visibility: hidden;

  &.weui-toast__wrap_show {
    animation-name: toastFadeOut;
    animation-duration: 1s;
  }
}
