@import '../../../stylesheets/ext_weui';
@import '../../../stylesheets/ext_bulma';
@import '../../../stylesheets/phone_bulma';
@import '../../../stylesheets/ext_choices';
@import '../../../stylesheets/marp';
@import '../../../stylesheets/ui_tooltip';

html {
  overflow-y: auto;
}

.weui-mask-share {
  background-image: url(/share.png);
  background-size: contain;
  background-repeat: no-repeat;
}


