.level {
  .buttons {
    margin-bottom: 0;
  }

  .buttons + .button_to,
  .buttons + .button,
  .buttons + .buttons {
    margin-left: 0.5rem;
  }

  .field {
    margin-bottom: unset;
  }
}

nav.level {
  .level-left {
    flex-shrink: 1;
  }
}