@use 'choices.js/src/styles/choices';

.choices__inner {
  min-height: 2.5em;
  height: 2.5em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

.choices__list--dropdown {
  .choices__item {
    height: 2.5em;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
