@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.has-animate-slide-up {
  animation-name: slideUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.has-animate-slide-down {
  animation-name: slideDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

