.has-animate-typer {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 3s;
  animation-timing-function: steps(20, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
