@keyframes typer {
  from { width: 0 }
  to { width: 100% }
}

.has-animate-typer {
  overflow: hidden;
  visibility: visible;
  white-space: nowrap;
  animation-name: typer;
  animation-duration: 3s;
  animation-timing-function: steps(20, end);
  animation-fill-mode: forwards;
}
