@keyframes hero-gradient-animation {
  from {
    --x-0: 40%;
    --y-0: 20%;
    --c-0: hsla(210, 100%, 79%, 1);
    --s-start-0: 0%;
    --s-end-0: 50%;

    --x-1: 80%;
    --y-1: 0%;
    --c-1: hsla(313, 100%, 95%, 1);
    --s-start-1: 0%;
    --s-end-1: 50%;

    --x-2: 0%;
    --y-2: 50%;
    --c-2: hsla(243, 100%, 93%, 1);
    --s-start-2: 0%;
    --s-end-2: 50%;
  }
  to {
    --x-0: 20%;
    --y-0: 44%;
    --c-0: hsla(214, 100%, 83%, 1);
    --s-start-0: 0%;
    --s-end-0: 50%;

    --x-1: 50%;
    --y-1: 30%;
    --c-1: hsla(315, 100%, 93%, 1);
    --s-start-1: 0%;
    --s-end-1: 50%;

    --x-2: 62%;
    --y-2: 17%;
    --c-2: hsla(243, 100%, 89%, 1);
    --s-start-2: 0%;
    --s-end-2: 50%;
  }
}

.has-animate-background {
  background-image:
    radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0));
    //radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
    //radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2));
  animation: hero-gradient-animation 2s linear infinite alternate;
  background-blend-mode: normal, normal, normal;
}