@keyframes anticlockwise {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}

.has-animate-anticlockwise {
  animation-name: anticlockwise;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
