@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: var(--animate-scroll-to);
  }
  100% {
    transform: translateY(0);
  }
}

.has-animate-scrollUp {
  animation-name: scrollUp;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.has-animate-scrollUp:hover {
  animation-play-state: paused;
}