.breadcrumb {
  li {
    &.is-active::before {
      padding-right: 0.75em;
    }
    &:empty + li {
      padding-left: 0.75rem;
    }
    &:empty + li::before {
      display: none;
    }
    .navbar-dropdown {
      padding-top: 1rem;
    }
  }

  li.is-active {
    a.tag {
      cursor: pointer;
      pointer-events: auto;
      color: white;
    }
  }

  li:last-child {
    span {
      font-weight: bold;
    }
  }
}
