.breadcrumb {
  user-select: auto;

  &.is-border {
    border-bottom: solid 1px rgba(34, 36, 38, .1);
    padding-bottom: 0.5em;
  }

  ul, ol {
    align-items: center;
  }

  li {
    &.is-active::before {
      padding-right: 0.75em;
    }
    &:empty + li {
      padding-left: 0.75rem;
    }
    &:empty + li::before {
      display: none;
    }
    .navbar-dropdown {
      padding-top: 1rem;
    }
  }

  li.is-active {
    a.tag {
      cursor: pointer;
      pointer-events: auto;
      color: white;
    }
  }

  li:last-child {
    span {
      font-weight: bold;
    }
  }
}
