.has-animate-scale {
  transition: height;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.has-animate-scale:hover {
  transform: scaleY(1.05)
}

.has-animate-color {
  transition-property: color,background-color;
  transition-duration: 0.3s;
}
