.slide {
  --height: 430px;
  position: relative;
  height: calc(var(--height) + 30px);
  overflow: hidden;
  //margin-bottom: 27px;

  figure {
    position: absolute;
    width: 100%;
    height: var(--height);
    text-align: center;
    background: black;
  }
  .transition_later {
    transition-delay: 100s;
    transition-duration: 3s;
    transition-property: left, right;
    transition-timing-function: linear;
    left: 0;
  }
  .transition_now {
    transition-property: left, right;
    transition-timing-function: linear;
    left: 0;
  }
}

.slide-y {
  position: relative;
  height: 100vh;

  figure {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: black;
  }
}
