.slide {
  --height: 430px;
  position: relative;
  height: var(--height);
  overflow: hidden;
  //margin-bottom: 27px;

  figure {
    position: absolute;
    width: 100%;
    height: var(--height);
    text-align: center;
    background: black;
  }
  .transition_later {
    transition-delay: 3s;
    transition-duration: 1s;
    transition-property: left, right;
    transition-timing-function: linear;
    left: 0;
  }
  .transition_now {
    transition-duration: 1s;
    transition-property: left, right;
    left: 0;
  }

  figure.image {
    background-color: white;
    opacity: 1;

    figcaption {
      background-color: #666;
      color: #fff;
      padding: 3px;
      text-align: center;
    }
    img, video {
      height: inherit;
      object-fit: cover;
    }
  }

}
