.weui-panel__extra {
  color: grey;
  font-weight: lighter;
}

.weui-panel__bd,
.weui-panel__ft {
  .weui-cells:first-child {
    margin-top: 0;
  }
  .weui-cells:first-child:before {
    display: none;
  }
}

.weui-tab__panel {
  .weui-panel:first-child {
    &:before {
      border-top: none;
    }
  }
}
