.weui-tab__panel > :first-child {
  margin-top: 0;
}

.weui-tab__panel {
  overflow-y: auto;
  overflow-x: visible;
  -webkit-overflow-scrolling: auto; // fix ios safari z-index with fixed bug
  background-color: var(--weui-BG-0);
}
