.weui-uploader__input-box:only-child {
  width: 100%;
  height: auto;

  .weui-uploader__preview {
    opacity:0.6;
    filter: alpha(opacity=60);
  }

  &:before,
  &:after {
    background-color: black;
  }
}
