@use 'sass:math';
@use '../utilities/initial-variables' as iv;
@use '../utilities/mixins' as mx;

$container-offset: 2 * iv.$gap !default;
$container-max-width: iv.$fullhd !default;

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &.is-fluid {
    max-width: none !important;
    padding-left: iv.$gap;
    padding-right: iv.$gap;
    width: 100%;
  }

  &.is-max-tablet {
    max-width: iv.$tablet - $container-offset;
  }

  @include mx.desktop {
    max-width: iv.$desktop - $container-offset;
  }

  @include mx.until-widescreen {
    &.is-widescreen:not(.is-max-tablet):not(.is-max-desktop) {
      max-width: math.min(iv.$widescreen, $container-max-width) - $container-offset;
    }
  }

  @include mx.until-fullhd {
    &.is-fullhd:not(.is-max-tablet):not(
        .is-max-desktop
      ):not(.is-max-widescreen) {
      max-width: math.min(iv.$fullhd, $container-max-width) - $container-offset;
    }
  }

  @include mx.widescreen {
    &:not(.is-max-tablet):not(.is-max-desktop) {
      max-width: math.min(iv.$widescreen, $container-max-width) - $container-offset;
    }
  }

  @include mx.fullhd {
    &:not(.is-max-tablet):not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: math.min(iv.$fullhd, $container-max-width) - $container-offset;
    }
  }
}
