@use '../utilities/css-variables' as cv;
@use '../utilities/derived-variables' as dv;
@use '../utilities/initial-variables' as iv;
@use '../utilities/mixins' as mx;
@use '../utilities/extends';

$hero-body-padding: 3rem 1.5rem !default;
$hero-body-padding-tablet: 3rem 3rem !default;
$hero-body-padding-small: 1.5rem !default;
$hero-body-padding-medium: 9rem 4.5rem !default;
$hero-body-padding-large: 18rem 6rem !default;

$hero-gradient-h-offset: 5deg !default;
$hero-gradient-s-offset: 10% !default;
$hero-gradient-l-offset: 5% !default;

$hero-colors: dv.$colors !default;

// Main container
.hero {
  @include cv.register-vars(
    (
      "hero-body-padding": #{$hero-body-padding},
      "hero-body-padding-tablet": #{$hero-body-padding-tablet},
      "hero-body-padding-small": #{$hero-body-padding-small},
      "hero-body-padding-medium": #{$hero-body-padding-medium},
      "hero-body-padding-large": #{$hero-body-padding-large},
      "hero-gradient-h-offset": #{$hero-gradient-h-offset},
      "hero-gradient-s-offset": #{$hero-gradient-s-offset},
      "hero-gradient-l-offset": #{$hero-gradient-l-offset}
    )
  );
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar {
    background: none;
  }

  .tabs {
    ul {
      border-bottom: none;
    }
  }

  // Colors
  @each $name, $pair in $hero-colors {
    &.is-#{$name} {
      @include cv.register-vars(
        (
          "hero-h": #{cv.getVar($name, "", "-h")},
          "hero-s": #{cv.getVar($name, "", "-s")},
          "hero-background-l": #{cv.getVar($name, "", "-l")},
          "hero-color-l": #{cv.getVar($name, "", "-invert-l")}
        )
      );

      $background-color: hsl(#{cv.getVar("hero-h")}, #{cv.getVar("hero-s")}, #{cv.getVar("hero-background-l")});
      $color: hsl(#{cv.getVar("hero-h")}, #{cv.getVar("hero-s")}, #{cv.getVar("hero-color-l")});

      background-color: hsl(#{cv.getVar("hero-h")}, #{cv.getVar("hero-s")}, #{cv.getVar("hero-background-l")});
      color: $color;

      .navbar {
        @include cv.register-vars(
          (
            "navbar-item-color": $color,
            "navbar-item-hover-background-color": $color,
            "navbar-item-hover-color": $background-color,
            "navbar-item-active-background-color": $color,
            "navbar-item-active-color": $background-color
          )
        );
      }

      .tabs {
        @include cv.register-vars(
          (
            "tabs-link-color": $color,
            "tabs-boxed-link-active-background-color": $color,
            "tabs-boxed-link-active-border-color": $background-color,
            "tabs-link-active-color": $background-color
          )
        );
      }

      .subtitle {
        @include cv.register-vars(
          (
            "subtitle-color": $color,
            "subtitle-strong-color": $color
          )
        );
      }

      .title {
        @include cv.register-vars(
          (
            "title-color": $color,
            "title-strong-color": $color
          )
        );
      }

      // Modifiers
      &.is-bold {
        $gradient-top-left: hsl(
          calc(#{cv.getVar("hero-h")} - #{$hero-gradient-h-offset}),
          calc(#{cv.getVar("hero-s")} + #{$hero-gradient-s-offset}),
          calc(#{cv.getVar("hero-background-l")} + #{$hero-gradient-l-offset})
        );
        $gradient-middle: hsl(
          #{cv.getVar("hero-h")},
          #{cv.getVar("hero-s")},
          #{cv.getVar("hero-background-l")}
        );
        $gradient-bottom-right: hsl(
          calc(#{cv.getVar("hero-h")} + #{$hero-gradient-h-offset}),
          calc(#{cv.getVar("hero-s")} - #{$hero-gradient-s-offset}),
          calc(#{cv.getVar("hero-background-l")} - #{$hero-gradient-l-offset})
        );

        background-image: linear-gradient(
          141deg,
          $gradient-top-left 0%,
          $gradient-middle 71%,
          $gradient-bottom-right 100%
        );

        @include mx.mobile {
          .navbar-menu {
            background-image: linear-gradient(
              141deg,
              $gradient-top-left 0%,
              $color 71%,
              $gradient-bottom-right 100%
            );
          }
        }
      }
    }
  }

  // Sizes
  &.is-small {
    .hero-body {
      padding: cv.getVar("hero-body-padding-small");
    }
  }

  &.is-medium {
    @include mx.tablet {
      .hero-body {
        padding: cv.getVar("hero-body-padding-medium");
      }
    }
  }

  &.is-large {
    @include mx.tablet {
      .hero-body {
        padding: cv.getVar("hero-body-padding-large");
      }
    }
  }

  &.is-halfheight,
  &.is-fullheight,
  &.is-fullheight-with-navbar {
    .hero-body {
      align-items: center;
      display: flex;

      & > .container {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  &.is-halfheight {
    min-height: 50vh;
  }

  &.is-fullheight {
    min-height: 100vh;
  }
}

// Components

.hero-video {
  @extend %overlay;
  overflow: hidden;

  video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  // Modifiers
  &.is-transparent {
    opacity: 0.3;
  }

  // Responsiveness
  @include mx.mobile {
    display: none;
  }
}

.hero-buttons {
  margin-top: 1.5rem;

  // Responsiveness
  @include mx.mobile {
    .button {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }

  @include mx.tablet {
    display: flex;
    justify-content: center;

    .button:not(:last-child) {
      margin-inline-end: 1.5rem;
    }
  }
}

// Containers

.hero-head,
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: cv.getVar("hero-body-padding");

  @include mx.tablet {
    padding: cv.getVar("hero-body-padding-tablet");
  }
}
