.level {
  .buttons {
    margin-bottom: 0;
  }

  .buttons + .button_to,
  .buttons + .button,
  .buttons + .buttons {
    margin-left: 0.5rem;
  }

  .field {
    margin-bottom: unset;
  }

  &.is-underline {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
    border-bottom: solid #eee 1px;
  }
}

nav.level {
  .level-left {
    flex-shrink: 1;
  }
}
