@use '../utilities/css-variables' as cv;
@use '../utilities/initial-variables' as iv;
@use '../utilities/mixins' as mx;
@use '../utilities/extends';

$level-item-spacing: calc(#{cv.getVar("block-spacing")} * 0.5) !default;

.level {
  @extend %block;
  @include cv.register-var("level-item-spacing", #{$level-item-spacing});
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: cv.getVar("level-item-spacing");

  code {
    border-radius: cv.getVar("radius");
  }

  img {
    display: inline-block;
    vertical-align: top;
  }

  // Modifiers
  &.is-mobile {
    display: flex;
    flex-direction: row;

    .level-left,
    .level-right {
      display: flex;
    }

    .level-item {
      &:not(.is-narrow) {
        flex-grow: 1;
      }
    }
  }

  // Responsiveness
  @include mx.tablet {
    display: flex;
    flex-direction: row;

    & > .level-item {
      &:not(.is-narrow) {
        flex-grow: 1;
      }
    }
  }
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;

  .title,
  .subtitle {
    margin-bottom: 0;
  }
}

.level-left,
.level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  gap: $level-item-spacing;

  .level-item {
    // Modifiers
    &.is-flexible {
      flex-grow: 1;
    }
  }
}

.level-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // Responsiveness
  @include mx.tablet {
    flex-direction: row;
  }
}

.level-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  // Responsiveness
  @include mx.tablet {
    flex-direction: row;
  }
}
