@keyframes fadeOutToRight {
  100% {
    opacity: 0;
    transform: translateY(4rem);
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
}

@keyframes fadeOutToLeft {
  100% {
    opacity: 0;
    transform: translateY(-4rem);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
}

html[data-turbo-visit-direction="forward"]::view-transition-old(main) {
  animation-name: fadeOutToRight;
}
html[data-turbo-visit-direction="forward"]::view-transition-new(main) {
  animation-name: fadeInFromLeft;
}

html[data-turbo-visit-direction="back"]::view-transition-old(main) {
  animation-name: fadeOutToLeft;
}
html[data-turbo-visit-direction="back"]::view-transition-new(main) {
  animation-name: fadeInFromRight;
}