.button {
  &.as-corner {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    border-radius: 0;
    border-width: 0;
    z-index: 1;
    padding: 5px;
    background-color: unset;
  }
  &.is-borderless {
    border-width: 0;
    background-color: transparent;
    box-shadow: none;
  }
  &.is-block {
    height: auto;
  }
  &.is-radius {
    border-radius: 6px;
  }
  &.is-small.is-radius {
    border-radius: 5px;
  }
}

.buttons {
  &.is-space-around {
    justify-content: space-around;
    padding-top: 0.5rem;
    margin-bottom: 0;
    border-top: solid 1px $primary;
  }

  &.is-flex-end {
    justify-content: flex-end;
  }

  &.is-flex-end,
  &.is-space-around {
    .button:not(.is-normal):not(.is-medium):not(.is-large):not(.is-small) {
      border-radius: 6px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .button_to .button {
    margin-bottom: 0;
  }
}

.weui-check:checked + .button {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}

.button_to + .buttons {
  margin-left: 0.5rem;
}
