.button {
  &.as-corner {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-width: 0;
    z-index: 1;
  }
  &.is-borderless {
    border-width: 0;
    background: transparent;
  }
  &.is-block {
    height: auto;
  }
}

.weui-check:checked + .button {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}
