td.has-inner-table {
  padding: 0;

  & > table {
    tr {
      background-color: transparent !important;
    }
    tr:last-child > td {
      border-bottom: none;
    }
  }
}

.table {
  &.is-border {
    border: solid 1px $border;
  }

  thead th {
    text-align: left;
    font-size: 0.9em;
    font-weight: normal;
    color: $grey;
  }

  thead td,
  thead th,
  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 1px;
  }
  tfoot td {
    border-top-width: 1px;
  }

  tbody + tbody {
    tr:first-child td,
    tr:last-child th {
      border-top-width: 1px;
    }
  }

  th, td {
    vertical-align: middle;
  }

  &.as-show {
    td:first-child {
      width: 33%;
    }
    tbody td:first-child::after {
      content: ':';
      padding-left: .25em;
      color: $grey-light;
    }
  }

  &.as-search {
    margin-bottom: 0.5rem;

    th, td {
      padding: 0 0.5em 0.75em 0;
      border-bottom-width: 0;
    }

    th {
      text-align: right;
      white-space: nowrap;
      color: $grey;
      font-size: 0.75em;
    }

    th::after {
      content: ':';
      color: $grey-light;
    }

    td {
      width: 100%;

      .button {
        font-size: 0.75em;
      }
    }
  }

  &.is-borderless {
    th, td {
      border-bottom-width: 0;
    }
    tr:last-child {
      th, td {
        border-bottom-width: 0;
      }
    }
  }
}
