.tags.is-price {
  .tag {
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    height: unset;
  }
  .tag:first-child {
    padding-left: 4px;
  }
}

.tags.is-tag-price {
  .tag {
    line-height: 2em;
  }
}

.is-flex {
  .tags {
    margin-bottom: 0;
  }
}
