.content {
  h1, h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }

  h3, h4 {
    font-size: 1em;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}
