svg.icon {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
  vertical-align: middle;

  &.size-4 {
    height: 1.5rem;
    width: 1.5rem;
  }

  & + span,
  & + strong {
    vertical-align: middle;
  }
}