td.has-inner-table {
  padding: 0;

  & > table {
    tr {
      background-color: transparent !important;
    }
    tr:last-child > td {
      border-bottom: none;
    }
  }
}

.table {
  thead th {
    text-align: left;
    font-size: 0.9em;
    font-weight: normal;
    color: var(--bulma-text-40);
  }

  thead td,
  thead th {
    border-bottom-width: 1px;
  }
  tfoot td {
    border-top-width: 1px;
  }

  tbody + tbody {
    tr:first-child td,
    tr:last-child th {
      border-top-width: 1px;
    }
  }

  th, td {
    vertical-align: middle;

    &.is-borderless {
      border-bottom-width: 0;
    }

    &.is-empty {
      padding: 0;
    }
  }

  td > p + p,
  td > div + div {
    margin-top: 0.5em;
  }

  &.is-border {
    border: solid 1px var(--bulma-text-light);
  }

  &.as-show {
    --bulma-table-cell-padding: 0.25em 1em;

    td:first-child:not([colspan]) {
      color: var(--bulma-text-60);
      font-size: 0.9em;
    }
    td:last-child:not([colspan]) {
      text-align: right;
      img {
        float: right;
      }
    }
  }

  &.as-search {
    margin-bottom: 0.5rem;

    th, td {
      padding: 0 0.5em 0.75em 0;
      border-bottom-width: 0;
    }

    th {
      text-align: right;
      white-space: nowrap;
      color: var(--bulma-text-light);
      font-size: 0.75em;
    }

    th::after {
      content: ':';
      color: var(--bulma-text-light)-light;
    }

    td {
      width: 100%;

      .button {
        font-size: 0.75em;
      }
    }
  }

  &.is-borderless {
    th, td {
      border-bottom-width: 0;
    }
    tr:last-child {
      th, td {
        border-bottom-width: 0;
      }
    }
    tfoot td {
      border-top-width: 0;
    }
  }

  &.is-sticky {
    th {
      position: sticky;
      top: 0;
      background-color: lightseagreen;
    }
  }

  &.is-boxed {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    border: solid 1px #eee;
    //box-shadow: $shadow;

    thead {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    tr:nth-last-child(-n + 2) {
      td[rowspan],
      th[rowspan] {
        border-bottom-width: 0;
      }
    }
  }
}
