.button {
  &.as-corner {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    border-radius: 0;
    border-width: 0;
    z-index: 1;
    padding: 5px;
  }
  &.is-unset {
    background-color: unset;
  }
  &.is-borderless {
    border-width: 0;
    background-color: transparent;
    box-shadow: none;
  }
  &.is-block {
    height: auto;
    flex-direction: column;
  }
  &.is-radius {
    border-radius: 6px;
  }
  &.is-small.is-radius {
    border-radius: 5px;
  }
}

.buttons {
  row-gap: 0.5rem;

  &.as-bottom {
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
    margin-bottom: 0;
    border-top: solid 1px var(--bulma-primary);
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.flex-end,
  &.as-bottom {
    .button:not(.is-normal):not(.is-medium):not(.is-large):not(.is-small) {
      border-radius: 6px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &.no-disabled {
    .button[disabled] {
      opacity: unset;
    }
  }

  .button_to .button {
    margin-bottom: 0;
  }
}

.weui-check:checked + .button {
  background-color: var(--bulma-primary);
  border-color: transparent;
  color: #fff;
}

.button_to + .buttons {
  margin-left: 0.5rem;
}
