html,
body {
  height: 100%;
}

.as-bar {
  .bar-title {
    padding-top: 0;
  }
}

.modal.is-mobile-top {
  .modal-card-head {
    padding-top: 0;
  }
}

.has-page-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}