.has-animate-scale {
  transition: height;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.has-animate-scale:hover {
  transform: translate3d(0, -2%, 0);
}

.has-animate-color {
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.has-animate-background {

}

.has-animate-anticlockwise {
  animation-name: anticlockwise;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.has-fade-start {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
}

.has-fade-animate {
  transition-property: opacity, transform;
  transition-duration: 0.5s;
}

.has-fade-end {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.has-animate-autoFade {
  animation-name: autoFade;
  animation-fill-mode: forwards;
}

.has-animate-fade-out {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes anticlockwise {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}

@keyframes autoFade {
  to {
    opacity: 0.5;
    display: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
