.has-animate-scale {
  transition: height;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.has-animate-scale:hover {
  transform: translate3d(0, -2%, 0);
}

.has-animate-color {
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.has-animate-background {

}

.has-animate-anticlockwise {
  animation-name: anticlockwise;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anticlockwise {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}

.has-fade-init {
  opacity: 0.2;
  transform: translate3d(0, 100px, 0);
}

.has-fade-up {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-duration: 1s;
}
