.money-currency-symbol {
  font-family: monospace;
  font-size: 0.75rem;
}

.money-whole {
  font-family: monospace;
}

.money-decimal-mark {
  text-decoration: none;
}

.money-decimal {
  font-size: 0.75rem;
  font-family: monospace;
}
