.as-bar {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  background-color: var(--bulma-scheme-main);
  height: 45px; // 有在弹出框中应用(position: fixed), 必须指定高度；

  a,
  button {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }

  .bar-title {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    flex-grow: 1;
    text-align: center;
  }
}

.as-bottom {
  background-color: var(--bulma-scheme-main);
  box-shadow: inset #ddd 0 5px 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0 !important;
}

.as-bottom:last-child {
  padding-bottom: max(env(safe-area-inset-bottom), 0.75rem);
}
