.as-bar {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  background-color: var(--bulma-scheme-main);

  a {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }

  .bar-title {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    flex-grow: 1;
    text-align: center;
  }
}

.as-bottom:last-child {
  box-shadow: inset #ddd 0 5px 20px;
  margin-bottom: 0;
  padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
}
