// font size 以 em 为单位，可以相对于上级元素整体调节大小
.money-currency-symbol {
  font-family: monospace;
  font-size: 0.75em;
  align-self: baseline;
}

.money-whole {
  display: inline-block;
  width: var(--money-width);
  text-align: right;
  font-family: monospace;
  font-size: 1em;
  align-self: baseline;
}

.money-decimal-mark {
  text-decoration: none;
  font-size: 1em;
  align-self: baseline;
}

.money-decimal {
  font-family: monospace;
  font-size: 0.75em;
  align-self: baseline;
}

.has-text-through {
  display: inline-flex;
  background: linear-gradient(grey, grey) no-repeat;
  background-size: 100% 1px;
  background-position: 0 0.6em;
}
