dl.as-show {
  margin-bottom: var(--bulma-block-spacing);

  & > div,
  & > a {
    display: flex;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    align-items: center;
    justify-content: space-between;
  }

  dt {
    color: var(--bulma-text-60);
    font-size: 0.9em;
    text-align-last: auto;
    width: auto;
  }
  dd {
    text-align: right;
    overflow-x: auto;
    img {
      float: right;
    }
  }
}