// The line in the middle.
.events::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: var(--bulma-grey);
}

.events {
  // Needed for positioning the line.
  position: relative;
  // Add some space.
  display: flex;
  margin-block: 0.5em;
  flex-direction: column;
  row-gap: 1em;
}

.event {
  // Layout content and marker using flexbox.
  display: flex;
  // Align marker vertically.
  align-items: baseline;
}
.event .marker {
  // Adjust marker to center on the line.
  position: relative;
  left: -6px;
}

// Some coloring to make our life easier.
.event.life .marker {
  fill: var(--melange_b_yellow);
}
.event.programming .marker {
  fill: var(--melange_b_magenta);
}
.event.family .marker {
  fill: var(--melange_b_red);
}
.content time {
  font-family: concourse_4, Helvetica, sans-serif;
  font-weight: bold;
}

@media (min-width: 700px) {
  // Place the line in the middle.
  .events::before {
    left: 50%;
  }
  // Layout the marker after the content.
  .event .marker {
    order: 1;
  }
  .event .content {
    // Make the content take 50% space so the marker
    // will be placed at 50% (on top of the line).
    width: 50%;
    // Event is to the left, align text towards the line.
    text-align: right;
    // Avoid overlap with the marker.
    padding-inline: 1em;
  }
  // For these types, move the event to the right.
  .event:is(.programming, .work, .projects) {
    // Layout the content and marker from right to left.
    flex-direction: row-reverse;

    // Now align text to the left.
    .content {
      text-align: left;
    }
    // We used to offset the marker from the left with -6px,
    // now we need to do it from the other side.
    .marker {
      left: 6px;
    }
  }
}