@use '../utilities/css-variables' as cv;

.box {
  &.is-narrow {
    padding: 0.5rem 1rem;
  }
  &.is-normal {
    padding: 1rem;
  }
  &.is-padding-less {
    --bulma-box-padding: 0;

    > :only-child {
      border-radius: var(--bulma-box-radius);
    }
  }
  &.is-active {
    box-shadow: cv.getVar('box-link-active-shadow');
    background-color: cv.getVar('white-ter');
  }
}

.box-header {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.box-header {
  color: var(--bulma-box-color);
}

.box-footer {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
}
