.weui-menu {
  display: flex;
  flex-grow: 1;
}


.weui-menu-sidebar {
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 6px;
}

.weui-menu-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
