.weui-menu {
  display: flex;
  flex-grow: 1;
}


.weui-menu-sidebar {
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 6px;
}

.weui-menu-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  .is-box {
    padding: 0.75rem;
  }

  .media + .media {
    margin-top: 0;
    padding-top: 0.75rem;
  }
}
