@charset "utf-8";

@import 'file';
@import 'select';
@import 'tools';
@import 'checkbox';

form.button_to {
  display: inline;
  button:not(.button) {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  button:not(.button):focus {
    outline: none;
  }
}
