del {
  color: red;
}

@include touch {
  html {
    overflow-y: auto;
  }
}

iframe {
  &.as-top {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    top: 0
  }
}

a[disabled=disabled] {
  pointer-events: none;
  opacity: 0.6;
}

button[type=submit] {
  color: currentcolor;
}
