del {
  color: red;
}

@include touch {
  html {
    overflow-y: auto;
  }
}

iframe {
  &.as-top {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    top: 0
  }
  &.is-fullheight {
    height: 100%;
  }
}

a[disabled=disabled] {
  pointer-events: none;
  opacity: 0.6;
}

input[type="submit"],
input[type="submit"]:active,
button[type="submit"],
button[type="submit"]:active,
button[type="menu"],
button[type="menu"]:active {
  color: initial;
}
