body,
#body,
#panel,
.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#body,
#panel {
  overflow: auto;
  view-transition-name: main;
}

main,
#main {
  flex-grow: 1;
}

main.container {
  width: 100%;
}

.as-vertical-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
