main.columns {
  margin: 0;
}

main.columns:not(:last-child) {
  margin-bottom: 0;
}

main.columns.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.columns.is-flex-direction-column.is-variable > .column {
  padding-top: var(--columnGap);
  padding-bottom: var(--columnGap);
}

.columns {
  &.as-border > .column + .column {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.column {
  &.is-fullheight {
    height: 100%;
  }

  .column_box {
    border: 1px solid $primary;
    box-shadow: $shadow;
    border-radius: 6px;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}
