.grid {
  &.as-actions {
    place-items: center;

    .cell {
      i {
        font-size: 1.5em;
        color: var(--bulma-primary);
      }
      .fa-trash {
        color: var(--bulma-danger-light);
      }
      span,
      strong {
        font-size: 0.8em;
        color: var(--bulma-grey);
      }
      i + span, strong, div {
        margin-top: 0.25rem;
      }
    }
  }

  .cell {
    margin-bottom: 0;
  }
}