@use '../utilities/css-variables' as cv;
@use '../utilities/derived-variables' as dv;

$digits: (
  "00",
  "05",
  "10",
  "15",
  "20",
  "25",
  "30",
  "35",
  "40",
  "45",
  "50",
  "55",
  "60",
  "65",
  "70",
  "75",
  "80",
  "85",
  "90",
  "95",
  "100"
);

.background {
  background-color: cv.getVar("background");
}

@each $name, $color in dv.$colors {
  $background: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-l")});
  $color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-l")});

  .text-#{$name} {
    color: $color !important;
  }

  .background-#{$name} {
    background-color: $background !important;
  }

  // Invert
  .text-#{$name}-invert {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-invert-l")}) !important;
  }

  .background-#{$name}-invert {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-invert-l")}) !important;
  }

  // On Scheme
  .text-#{$name}-on-scheme {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-on-scheme-l")}) !important;
  }

  .background-#{$name}-on-scheme {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-on-scheme-l")}) !important;
  }

  // Light
  .text-#{$name}-light {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-light-l")}) !important;
  }

  .background-#{$name}-light {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-light-l")}) !important;
  }

  .text-#{$name}-light-invert {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-light-invert-l")}) !important;
  }

  .background-#{$name}-light-invert {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-light-invert-l")}) !important;
  }

  // Dark
  .text-#{$name}-dark {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-dark-l")}) !important;
  }

  .background-#{$name}-dark {
    background-color: hsl(
      #{cv.getVar($name, "", "-h")},
      #{cv.getVar($name, "", "-s")},
      #{cv.getVar($name, "", "-dark-l")}
    ) !important;
  }

  .text-#{$name}-dark-invert {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-dark-invert-l")}) !important;
  }

  .background-#{$name}-dark-invert {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-dark-invert-l")}) !important;
  }

  // Soft/Bold
  .text-#{$name}-soft {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("soft-l")}) !important;
  }

  .background-#{$name}-soft {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("soft-l")}) !important;
  }

  .text-#{$name}-bold {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("bold-l")}) !important;
  }

  .background-#{$name}-bold {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("bold-l")}) !important;
  }

  .text-#{$name}-soft-invert {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("soft-invert-l")}) !important;
  }

  .background-#{$name}-soft-invert {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("soft-invert-l")}) !important;
  }

  .text-#{$name}-bold-invert {
    color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("bold-invert-l")}) !important;
  }

  .background-#{$name}-bold-invert {
    background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar("bold-invert-l")}) !important;
  }

  @each $digit in $digits {
    .text-#{$name}-#{$digit} {
      color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-#{$digit}-l")}) !important;
    }

    .background-#{$name}-#{$digit} {
      background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-#{$digit}-l")}) !important;
    }

    .text-#{$name}-#{$digit}-invert {
      color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-#{$digit}-invert-l")}) !important;
    }

    .background-#{$name}-#{$digit}-invert {
      background-color: hsl(#{cv.getVar($name, "", "-h")}, #{cv.getVar($name, "", "-s")}, #{cv.getVar($name, "", "-#{$digit}-invert-l")}) !important;
    }
  }

  // Hover
  a.text-#{$name},
  button.text-#{$name},
  .text-#{$name}.is-hoverable {
    &:hover,
    &:focus-visible {
      color: hsl(
        #{cv.getVar($name, "", "-h")},
        #{cv.getVar($name, "", "-s")},
        calc(#{cv.getVar($name, "", "-l")} + #{cv.getVar("hover-color-l-delta")})
      ) !important;
    }

    &:active {
      color: hsl(
        #{cv.getVar($name, "", "-h")},
        #{cv.getVar($name, "", "-s")},
        calc(#{cv.getVar($name, "", "-l")} + #{cv.getVar("active-color-l-delta")})
      ) !important;
    }
  }

  a.background-#{$name},
  button.background-#{$name},
  .background-#{$name}.is-hoverable {
    &:hover,
    &:focus-visible {
      background-color: hsl(
        #{cv.getVar($name, "", "-h")},
        #{cv.getVar($name, "", "-s")},
        calc(#{cv.getVar($name, "", "-l")} + #{cv.getVar("hover-background-l-delta")})
      ) !important;
    }

    &:active {
      background-color: hsl(
        #{cv.getVar($name, "", "-h")},
        #{cv.getVar($name, "", "-s")},
        calc(#{cv.getVar($name, "", "-l")} + #{cv.getVar("active-background-l-delta")})
      ) !important;
    }
  }

  // Palettes
  .palette-#{$name} {
    --h: #{cv.getVar($name, "", "-h")};
    --s: #{cv.getVar($name, "", "-s")};
    --l: #{cv.getVar($name, "", "-l")};
    --color: hsl(var(--h), var(--s), var(--l));

    @each $digit in $digits {
      --#{$digit}-l: #{cv.getVar($name, "", "-#{$digit}-l")};
      --color-#{$digit}: hsl(var(--h), var(--s), var(--#{$digit}-l));
    }
  }
}

@each $name, $shade in dv.$shades {
  .text-#{$name} {
    color: $shade !important;
  }

  .background-#{$name} {
    background-color: $shade !important;
  }
}

.text-current {
  color: currentColor !important;
}

.text-inherit {
  color: inherit !important;
}

.background-current {
  background-color: currentColor !important;
}

.background-inherit {
  background-color: inherit !important;
}
