@include desktop {
  .cards {
    display: grid;

    &.is-2 {
      grid-template-columns: repeat(2, 50%);
    }

    &.is-3 {
      grid-template-columns: repeat(3, 33%);
    }

    &.is-4 {
      grid-template-columns: repeat(4, 25%);
    }

    .card {
      margin: 1rem;

      .card-image > img {
        width: 100%;
      }
    }
  }
}

.cards {
  .card {
    .card-content {
      :not(ul, li) {
        text-align: center;
      }

      h1, h2, h3 {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.25rem;
      }

      p:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &.is-animate-scale {
    .card {
      transition: height;
      transition-duration: 2s;
      transition-timing-function: ease;
    }
    .card:hover {
      transform: translate3d(0, -2%, 0);
    }
  }
}

.card + .card {
  margin-top: 1rem;
}

.card {
  &.is-wallet {
    height: 0;
    padding-bottom: 63%;
    background-size: cover;

    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .card-footer:not(:empty) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
