.media {
  &.is-middle {
    align-items: center;
  }
}

.media-left {
  &.as-logo {
    align-self: center;
  }
}

.media-right {
  &.as-x {
    align-self: center;
  }
}

@include mobile {
  .media {
    .media-content {
      margin-top: 2rem;
      width: -webkit-fill-available;
    }
  }
}
