.tabs {
  &.is-fullwidth {
    background-color: #f7f7f7;
    overflow: visible;
    --bulma-tabs-toggle-link-radius: 0;
    //--bulma-tabs-toggle-link-border-width: 0;

    a {
      flex-direction: column;

      span {
        color: var(--bulma-grey);
      }
      i + span {
        margin-top: 2px;
      }
    }

    li.is-active {
      a {
        span {
          color: var(--bulma-tabs-link-active-color);
        }
      }
    }
  }

  &.absolute-bottom {
    --bulma-tabs-border-bottom-width: 0;
  }
}