.panel-block.flex-direction-column {
  .control + .control {
    padding-top: 1em;
  }
}

.panel {
  &.is-white {
    .panel-block {
      background-color: white;
    }
  }
}

.panel-block {
  .media {
    width: 100%;
  }
}