.modal-background {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.modal-card {
  .modal-card-body:first-child {
    border-start-start-radius: var(--bulma-modal-card-head-radius);
    border-start-end-radius: var(--bulma-modal-card-head-radius);
  }
}

.modal.as-preview {
  justify-content: flex-start;

  .images {
    z-index: 0;
    background-color: white;
    width: 100%;
  }

  .modal-content {
    flex-grow: 1;
    align-content: center;
  }
}

form.modal-card {
  overflow-y: hidden;

  .modal-card-foot {
    justify-content: center;
  }
}