.media {
  &.is-middle {
    align-items: center;
  }

  &.is-box {
    margin-bottom: 1rem;
  }
}

.media-left,
.media-right{
  align-self: center;
}

.media-right {
  &.as-x {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

