.panel-block.flex-direction-column {
  .control + .control {
    padding-top: 1em;
  }
}

.panel {
  &.is-fit {
    width: fit-content;
    align-self: center;
  }

  &.is-white {
    .panel-block {
      background-color: white;
    }
  }

  &.is-border {
    border: solid 1px var(--ext-panel-border-color, var(--bulma-primary));
  }

  &[data-typer-local-target=container] {
    position: absolute;
    z-index: 5;
    background-color: #222;
    max-height: 200px;
    overflow-y: scroll;

    .panel-block {
      cursor: default;
      color: white;
    }

    .panel-block:hover {
      background-color: #5e206b;
    }
  }
}

.panel-tabs .button_to {
  border-bottom-color: var(--bulma-panel-tab-border-bottom-color);
  border-bottom-style: var(--bulma-panel-tab-border-bottom-style);
  border-bottom-width: var(--bulma-panel-tab-border-bottom-width);
  margin-bottom: calc(-1 * 1px);
  padding: 0.75em;

  &.is-active {
    border-bottom-color: var(--bulma-panel-tab-border-bottom-color, hsl(var(--bulma-panel-h), var(--bulma-panel-s), var(--bulma-panel-color-l)));
    color: var(--bulma-panel-tab-active-color);
  }
}

.panel-heading {
  &.is-narrow {
    padding: 0.5rem 1rem;
  }
}

.panel-block {
  .media {
    width: 100%;
  }
}