.dropdown + .dropdown,
.dropdown + .field,
.button + .dropdown,
.button_to + .dropdown {
  margin-left: 0.75rem;
}

.dropdown.pop-right {

  .dropdown-menu {
    padding-top: 0;
    top: auto;
    left: 100%;
  }
}