.modal-background {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.modal-card {
  .modal-card-body:first-child {
    border-start-start-radius: var(--bulma-modal-card-head-radius);
    border-start-end-radius: var(--bulma-modal-card-head-radius);
  }
}

form.modal-card {
  .modal-card-foot {
    justify-content: center;
  }
}