.media {
  .box > & {
    --bulma-media-spacing: 0.75rem;

    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .box > &:first-child {
    padding-top: var(--bulma-media-spacing);
  }
  .box > &:last-child {
    padding-bottom: var(--bulma-media-spacing);
  }
  &.is-fit {
    width: min-content;
  }

  &.is-middle {
    align-items: center;
  }

  &.as-boxed {
    padding: 1rem;
  }

  &.as-boxed + &.as-boxed {
    margin-top: 0;
  }
}

.media-left,
.media-right,
.media-content {
  align-self: center;
}

.media-left {
  &.as-logo {
    margin-inline-end: 0.75rem;
  }
}

.media-right {
  &.as-x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }

  .fa-chevron-right,
  .fa-qrcode {
    color: var(--bulma-grey);
  }
}

ul.media-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;

  li {
    padding-right: 0.5em;
    line-height: 1;
  }
  li + li {
    padding-left: 0.5em;
    border-left: 1px solid var(--bulma-grey);
  }
}
