.panel-block.flex-direction-column {
  .control + .control {
    padding-top: 1em;
  }
}

.panel {
  &.is-fit {
    width: fit-content;
  }

  &.is-white {
    .panel-block {
      background-color: white;
    }
  }

  &[data-typer-local-target=container] {
    position: absolute;
    z-index: 1;
    background-color: #ddd;
    max-height: 90px;
    overflow-y: scroll;
  }
}

.panel-tabs .button_to {
  border-bottom-color: var(--bulma-panel-tab-border-bottom-color);
  border-bottom-style: var(--bulma-panel-tab-border-bottom-style);
  border-bottom-width: var(--bulma-panel-tab-border-bottom-width);
  margin-bottom: calc(-1 * 1px);
  padding: 0.75em;

  &.is-active {
    border-bottom-color: hsl(var(--bulma-panel-h), var(--bulma-panel-s), var(--bulma-panel-color-l));
    color: var(--bulma-panel-tab-active-color);
  }
}

.panel-block {
  .media {
    width: 100%;
  }
}