.cards {
  display: grid;
  row-gap: 0.75rem;

  &.is-2, &.is-3, &.is-4 {
    gap: 0.75rem;
  }

  &.is-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.is-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.is-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    .card-image > img {
      margin-left: auto;
      margin-right: auto;
    }

    .card-content {
      flex-grow: 1;

      h1, h2, h3 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.25rem;
      }

      p:not(:last-child), ul:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      ul {
        list-style-image: url(icons/check.svg);
      }

      ol, ul {
        padding-left: 1rem;

        li {
          padding-left: 0.5rem;

          ul {
            list-style-image: url(icons_light.svg#minus.svg);
          }
        }

        li::marker {
          color: darkred;
          font-weight: bold;
        }
      }
    }
  }
}

.card {
  &.is-wallet {
    height: 0;
    padding-bottom: 63%;
    background-size: cover;

    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .card-footer:not(:empty) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &.is-animate-scale {
    .card:hover {
      transform: translate3d(0, -10px, 0);
    }
  }

  &.as-horizontal {
    flex-direction: row;

    .card-footer {
      flex-direction: column;
    }

    .card-footer-item {
      justify-content: flex-start;
    }
  }
}

.box {
  .card:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.card-footer {
  justify-content: center;
}