.as-tooltip {
  position: absolute;
  bottom: 100%;
  min-width: max-content;
  z-index: 1;
  .as-tooltip-arrow {
    width: 0;
    height: 0;
    position: relative;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    box-shadow: 1px 1px;
  }
}

.box {
  &.is-narrow {
    padding: 0.5rem 1rem;
  }
  &.is-padding-less,
  &.is-border {
    --bulma-box-padding: 0;

    > :only-child {
      border-radius: var(--bulma-box-radius);
    }
  }

  &.is-border {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    > :not(:last-child) {
      border-bottom: 1px solid hsl(0deg, 0%, 93%)
    }
  }

  &.as-bar {
    --bulma-box-radius: 0;
    --bulma-box-padding: 0.75rem 1rem;
    display: flex;
    align-items: center;

    .weui-title {
      flex-grow: 1;
      text-align: center;
    }
  }
}

.box-header {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.box-header {
  color: var(--bulma-box-color);
}

.box-body {
  padding: 0.75rem 1rem;
}

.box-footer {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
}

main > .box:first-child:not(.as-bar, .radiusless) {
  margin-top: 0.75rem;
}
