.images {
  .image + .image {
    margin-left: 1em;
  }
}

.image {
  &.is-border {
    border: solid 1px red;
  }

  &.is-flex-item {
    display: inline-block;
    vertical-align: middle;
  }

  &.is-fw {
    width: 1.25em;
    height: 1.25em;
  }

  &.as-centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.is-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -32px auto 0;

  .image {
    height: 64px;
    width: 64px;
    border-radius: 9999px;
  }
}
