.images {
  .image + .image {
    margin-left: 1em;
  }
}

.image {
  &.is-border {
    border: solid 1px red;
  }

  &.is-flex-item {
    display: inline-block;
    vertical-align: middle;
  }
}

figure.is-flex {
  display: flex;
  flex-flow: column;
  margin: auto;
}

figure.image {
  background-color: black;

  figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
  }
  img {
    max-height: inherit;
  }
  video {
    max-height: inherit;
    height: inherit;
  }
}
