.has-background-transparent {
  background-color: transparent !important;
}

.has-background-login {
  background-image: url(login_bg.jpg);
  background-size: cover;
}

.is-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.is-contain-x {
  background-size: auto 100%;
  background-repeat: repeat-x;
}
