.is-bordered {
  border: 1px solid darkgrey;
}

.has-border-bottom {
  border-bottom: 1px solid #ececec;
}

.has-border-top {
  border-top: 1px solid #ececec;
}

.has-border-bottom-arc {
  width: 100%;
  transform: scaleX(1.4);
  border-radius: 0 0 50% 50%;
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
