.is-bordered {
  border: 1px solid darkgrey;
}

.has-border-bottom {
  border-bottom: 0.5px solid #ececec;
}

.has-border-top {
  border-top: 0.5px solid #ececec;
}

.has-border-bottom-arc {
  position: relative;
}

.has-border-bottom-arc:after {
  width: 140%;
  height: 200px;
  position: absolute;
  left: -20%;
  right: -20%;
  top: -200px;
  content: '';
  border-radius: 0 0 50% 50%;
  background-color: white;
}
