@forward 'background_ext';
@forward 'border_ext';
@forward 'dot_ext';
@forward 'drawable_ext';
@forward 'flex_ext';
@forward 'font_ext';
@forward 'icon_ext';
@forward 'popup_ext';
@forward 'position_ext';
@forward 'radius_ext';
@forward 'spacing_ext';
@forward 'typography_ext';
@forward 'utils_ext';
@forward 'width_ext';
@forward 'zindex_ext';

@forward 'aspect-ratio';
@forward 'border';
@forward 'color';
@forward 'flexbox';
@forward 'float';
@forward 'gap';
@forward 'overflow';
@forward 'position';
@forward 'spacing';
@forward 'typography';
@forward 'visibility';
@forward 'other';
