.has-block-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.has-text-mono {
  font-family: monospace;
}

.is-size-0_9 {
  font-size: 0.9rem;
}

.has-inline-centered {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
