.is-sticky {
  position: sticky !important;
  top: 0;
}

.is-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.is-contain-x {
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.is-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.is-avatar {
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
  background: darkseagreen;
  color: white;
  border-radius: 9999px;

  .text {
    font-size: 2rem;
  }
}

.is-wrap {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
