@use 'bulma/sass/utilities/mixins' as mx;

.box-cell {
  display: flex;
  padding: 0.75rem;
  align-items: center;

  .box-cell-body {
    flex-grow: 1;
  }

  .box-cell-footer {
    position: relative;
  }
  .box-cell-footer::after {
    @include mx.arrow(grey);
    transform: rotate(-135deg);
    right: 0.75rem;
  }
}