.as-popup,
.as-popdown {
  position: absolute;
  z-index: 1;

  .grid {
    overflow-y: scroll;
    height: 100px;
  }

  .list {
    width: max-content;
    overflow-y: scroll;
    max-height: 500px;
    min-width: 300px;
  }
}

.as-popup {
  bottom: 100%;
  top: auto;
}

.as-popdown {
  top: 100%;
  margin-top: 5px;
}

.popup-container {
  position: relative;
  display: inline-block;
  vertical-align: top;

  .overlay {
    position: fixed;
  }
}
