.has-text-mono {
  font-family: monospace;
}

.is-size-0_9 {
  font-size: 0.9rem !important;
}

.is-size-0_5 {
  font-size: 0.5rem !important;
}

.is-line-through {
  text-decoration: line-through;
}

