.as-popup {
  position: absolute;
  bottom: 100%;
  top: auto;

  .grid {
    overflow-y: scroll;
    height: 100px;
  }

  .list {
    width: max-content;
    overflow-y: scroll;
    height: 500px;
    min-width: 300px;
  }
}

.popup-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}