.is-sticky {
  position: sticky !important;
  top: 0;
}

.my-neg-3 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important;
}

.sticky-bottom {
  position: sticky;
  bottom: -1px;
  transition-duration: 0.3s;
  transition-property: background-color;

  &.is-active {
    background-color: var(--bulma-success-light);
  }
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.is-opacity-1 {
  opacity: 1 !important;
}

.is-fixed-bottom {
  position: fixed;
  bottom: 0;
  width: -moz-available;
  width: -webkit-fill-available;
}

.has-box-square {
  aspect-ratio: 1/1;
}

.is-fullwidth {
  width: 100% !important;
}

.is-fullheight {
  height: 100%;
}

.is-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.is-avatar {
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
  background: darkseagreen;
  color: white;
  border-radius: 9999px;

  .text {
    font-size: 2rem;
  }
}

.is-wrap {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.is-text {
  display: inline-block;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}

.is-box {
  background-color: var(--bulma-scheme-main);
  border-radius: var(--bulma-radius-large);
  box-shadow: var(--bulma-shadow);
  padding: 1.25rem;
}
