<div data-controller="slide-y" data-slide-y-debug-value="false" class="slide-y">
<% @videos.each_with_index do |url, index| %>
  <figure data-action="touchmove->slide-y#move:passive touchend->slide-y#end:passive" data-index="<%= index %>" style="z-index: <%= index == 0 ? 0 : -2 %>">
    <%= video_tag(url, controls: true, preload: 'auto') %>
  </figure>
<% end %>
</div>
