html {
  height: 100%;
}

:root {
  --bulma-body-overflow-y: auto;
}

main {
  background-color: #ededed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  > :last-child {
    margin-bottom: var(--bulma-block-spacing);
  }
}
