html {
  height: 100%;
}

html {
  overflow-y: auto;
}

main {
  background-color: #ededed;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}