<div data-controller="color-range" data-color-range-id-value="admin_menu" class="color-input">
  <%= f.range_field :hue, min: 0, max: 360, data: { color_range_target: 'hue', action: 'color-range#hue' }, style: "background-color: hsl(#{f.object.hue}, #{f.object.saturation}%, #{f.object.lightness}%)" %>
  <%= f.range_field :saturation, min: 0, max: 100, data: { color_range_target: 'saturation', action: 'color-range#saturation' }, style: "background-color: hsl(#{f.object.hue}, #{f.object.saturation}%, #{f.object.lightness}%)" %>
  <%= f.range_field :lightness, min: 0, max: 100, data: { color_range_target: 'lightness', action: 'color-range#lightness' }, style: "background-color: hsl(#{f.object.hue}, #{f.object.saturation}%, #{f.object.lightness}%)" %>
</div>